* {
    position : absolute;
}

#text1 {
    /* Layout Properties */
    top: 238px;
    left: 707px;
    width: 600px;
    height: 49px;
    text-align: center;
    /* UI Properties */
    font: normal normal bold 40px/76px Adobe Devanagari;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#text2 {
    /* Layout Properties */
    top: 250px;
    left: 707px;
    width: 548px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 25px/150px Pretendard Variable;
    letter-spacing: 0px;
    color: #e31515;
    opacity: 1;
}

#window {
    /* Layout Properties */
    top: 351px;
    left: 713px;
    width: 442px;
    height: 396px;
    /* UI Properties */
    background: #DBDBDB33 0% 0% no-repeat padding-box;
    border: 1px solid #00000080;
    border-radius: 70px;
    opacity: 1;
}

#pwtext{
    /* Layout Properties */
    top: 409px;
    left: 777px;
    width: 80px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/68px Pretendard Variable;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display : inline-block;
}

#input_pw {
    /* Layout Properties */
    top: 433px;
    left: 759px;
    width: 344px;
    height: 37px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000080;
    border-radius: 15px;
    opacity: 1;
}

#pwtext_check {
    /* Layout Properties */
    top: 482px;
    left: 777px;
    width: 130px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/68px Pretendard Variable;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display : inline-block;
}

#input_pw_check {
    /* Layout Properties */
    top: 506px;
    left: 759px;
    width: 344px;
    height: 37px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000080;
    border-radius: 15px;
    opacity: 1;
}
#nicktext {
    /* Layout Properties */
    top: 552px;
    left: 777px;
    width: 70px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/68px Pretendard Variable;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display : inline-block;
}

#input_nick {
    /* Layout Properties */
    top: 576px;
    left: 759px;
    width: 344px;
    height: 37px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000080;
    border-radius: 15px;
    opacity: 1;
}

#complete_box {
    /* Layout Properties */
    top: 661px;
    left: 811px;
    width: 240px;
    height: 39px;
    /* UI Properties */
    background: #00000080 0% 0% no-repeat padding-box;
    opacity: 1;
}

#complete {
    /* Layout Properties */
    top: 670px;
    left: 910px;
    width: 40px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/68px Pretendard Variable;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color:transparent;  
    border:0px transparent solid;
}