<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/header.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    <div id="OVERLOAD">OVERLOAD</div>
    <div id="Main" onclick="location.href='/'">Main</div>
    <div id="List" onclick="location.href='/product_list'">List</div>
    <div id="Support" onclick="location.href='/inquiry'">Support</div>
    
    <form>
        <input type="text" id="search" placeholder="텍스트를 입력하세요">
    </form>

    {% if 'userid' in session %}
        <h2 id="meet">안녕하세요, {{ session['nickname'] }} 님!</h2>
        <button onclick="location.href ='/logout'" id="logout">로그아웃</button>
    {% else %}
    <button onclick="location.href ='/login'"  id="login">로그인</button> 
    <button onclick="location.href ='/register'" id="register">회원가입</button>
    {% endif %} 
        
    <hr margin-left="00px" size="10px" color="black" width="300px" id="hr">
    <!-- header -->
</body>
</html>