<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->

    <div id="NEW">당신의 패션을 새롭게.</div>
    <div id="Blackbar"></div>
    <div id="OLwrite">OVERLOAD</div>
    <div id="Registerbutton" onclick="location.href='/register'">회원가입 하러가기 ></div>
</body>
</html>
