<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 페이지</title>
    <link href="../static/css/inquiry.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->

    <div id="text1">사용자 문의</div>
    <div id="text2">사용자가 남긴 문의입니다.</div>
    
    <button onclick="location.href ='/submit_inquiry'" id="submit_inquiry">문의 남기기</button>

    <div id="box">
        <!-- 문의가 있을 경우 -->
        {% if inquiries %}
            <ul>
                {% for inquiry in inquiries %}
                    <li>
                        <strong id="username" onclick="showInquiry('{{ inquiry.username }}', '{{ inquiry.inquiry_text }}')">
                            {{ inquiry.username }}
                        </strong>: {{ inquiry.inquiry_text }}
                    </li>
                {% endfor %}
            </ul>
            
        
        <!-- 문의가 없을 경우 -->
        {% else %}
           
        {% endif %}

    </div>

   
    <div id="inquiryModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeInquiryModal()">&times;</span>
            <div id="inquiryDetails">
              
            </div>
        </div>
    </div>

    <script>
        function showInquiry(username, text) {
            document.getElementById('inquiryDetails').innerHTML = '<strong>' + username + '</strong>: ' + text;
            document.getElementById('inquiryModal').style.display = 'block';
        }

        function closeInquiryModal() {
            document.getElementById('inquiryModal').style.display = 'none';
        }

        window.onclick = function(event) {
            var modal = document.getElementById('inquiryModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</body>
</html>