<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 페이지</title>
    <link href="../static/css/inquiry.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->

    <div id="text1">사용자 문의</div>
    <div id="text2">사용자가 남긴 문의입니다.</div>
    
    <button onclick="location.href ='/submit_inquiry'" id="submit_inquiry">문의 남기기</button>

    <div id="box">
        <!-- 문의가 있을 경우 -->
        {% if inquiries %}
            <ul>
                {% for inquiry in inquiries %}
                <form action="/view_inquiry" method="post">
                    <input type="hidden" name="inquiry_id" value="{{ inquiry[0] }}">
                    <button type="submit">
                    <li id="list">
                        {{ inquiry[1] }}
                    </li>
                    </button>
                    <hr>
                </form>
                {% endfor %}
            </ul>

        <!-- 문의가 없을 경우 -->
        {% else %}
            <p>문의가 없습니다.</p>
        {% endif %}
    </div>
</body>
</html>