<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link href="../static/css/header.css"" rel="stylesheet" type="text/css">
    <link href="../static/css/login.css"" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/header.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->

    {% if alert_message %}
    <script>
        alert("{{alert_message}}")
    </script>
    {% else %}

    {% endif %}

    

    {% if 'userid' in session %}
        
    {% else %}
    <div id="text1">OVERLOAD 로그인 하기</div>
    <div id="text2">사용자님의 개인정보는 암호화되어 저장됩니다.</div>
    <div id="window"></div>

    <form method="post" action="/login">
        {% if success_message %}
        <script>
            alert("{{ success_message }}");
        </script>
        {% endif %}

        {% if error_message %}
        <script>
            alert("{{ error_message }}");
        </script>
        {% endif %}
       

        <div id="idtext">아이디</div>
        <input type="text" id="input_id" name="userid" placeholder="아이디를 입력해 주세요.">
        <div id="pwtext">비밀번호</div>
        <input type="password" id="input_pw" name="password" placeholder="비밀번호를 입력해 주세요.">
        
        <a href="/register" id="do_register">회원가입</a>
        <div id="complete_box"></div>
        <input type="submit" id="complete" value="완료">
    </form>
    {% endif %}
</body>
</html>