<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    <div id="OVERLOAD">OVERLOAD</div>
    <div id="Main" onclick="location.href='main.html'">Main</div>
    <div id="List" onclick="location.href='product_list.html'">List</div>
    <div id="Support" onclick="'support.html'">Support</div>
    <div id="Etc" onclick="'etc.html'">Etc</div>

    <input type="text" id="search" placeholder="텍스트를 입력하세요">
    <button onclick="location.href ='login.html'"  id="login">로그인</button> 
    <button onclick="location.href ='register.html'" id="register">회원가입</button>
    
    <hr margin-left="00px" size="10px" color="black" width="300px">
    <!-- header -->

    <div id="NEW">당신의 패션을 새롭게.</div>
    <div id="Blackbar"></div>
    <div id="OLwrite">OVERLOAD</div>
    <div id="Registerbutton" onclick="location.href='register.html'">회원가입 하러가기 ></div>
</body>
</html>
