<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 제출 페이지</title>
    <link href="../static/css/submit_inquiry.css"" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/submit_inquiry.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->
    
    <div id="box"></div>
    <form action="/submit_inquiry" method="post">

        {% if success_message %}
        <script>
            alert("{{ success_message }}");
        </script>
        {% endif %}

        <label for="inquiry_head" id="text1">문의 제목:</label>
        <input type="text" id="inquiry_head" name="inquiry_head" required>
        <br>

        <label for="inquiry_body" id="text2">문의 내용:</label>
        <textarea id="inquiry_body" name="inquiry_body" required></textarea>
        <br>

        <button type="submit" id="submit">문의 남기기</button>
    </form>
   
</body>
</html>