<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 제출 페이지</title>
    <link href="../static/css/submit_inquiry.css"" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/submit_inquiry.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->

    <form id="submit" action="/submit_inquiry" method="post">
        <label for="username">사용자 이름:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="inquiry_text">문의 내용:</label>
        <textarea id="inquiry_text" name="inquiry_text" required></textarea>
        <br>
        <button type="submit">문의 남기기</button>
    </form>
    
    <a href="/inquiry">문의 내역 보기</a>
</body>
</html>