<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 내용</title>
    <link href="../static/css/view_inquiry.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- header -->

    <div id="text1">게시물 내용</div>

    <div id="box">
        {% if inquiry %}
            <p><strong>ID:</strong> {{ inquiry[0] }}</p>
            <p><strong>제목:</strong> {{ inquiry[1] }}</p>
            <p><strong>내용:</strong> {{ inquiry[2] }}</p>
        {% else %}
            <p>게시물을 찾을 수 없습니다.</p>
        {% endif %}
    </div>

</body>
</html>